body{font-family: 'League Spartan', sans-serif; background-color: hsl(222, 26%, 31%);}
#custom-toggle{
    border-radius: 24px;
    appearance: none ;
    transition: 0.25s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 90px;
    font-size: .8em;
    font-weight: bold;
    background-color:  hsl(223, 31%, 20%);
    
}